.sidebar {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 13rem;
  height: 100%;
  background: #181818;
  color: var(--color-white);
  transition: 0.5s ease;

  @include media('<tablet') {
    position: absolute;
    top: 0;
    left: -131px;
    z-index: 1;
  }

  @include media('<phone') {
    width: 100%;
    left: -100%;
  }

  &.active {
    left: 0;
  }

  &_logo {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    padding: 2rem 0;
    background: #000;

    @include media('<phone') {
      width: 180px;
      margin: 20px auto 0;
    }

    span {
      &:first-child {
        font-size: 6rem;
        line-height: 100%;
      }

      &:nth-child(2) {
        color: var(--color-white);
        margin-top: 1rem;
        font-size: 2.2rem;
      }

      &:last-child {
        color: #a5a5a5;
        font-size: 1.2rem;
        margin-top: 1rem;
      }
    }
  }

  &_nav {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    border-top: 1px solid #282828;

    a {
      text-align: center;
      width: 100%;
      display: block;
      font-size: 1.6rem;
      color: #909096;
      line-height: 5rem;
      border-bottom: 1px solid #282828;
      transition: color .3s, background-color .3s;
    }
  }

  &_footer {
    margin-top: auto;
    color: var(--color-grey);
    font-size: 1rem;
  }
}
